/*-------------------------
File name : style.css
Author: Bruna Lekich Louro

Index:
0.Reset
1. Header
2. General
3.Cities
4.Table-of-Contents
5.Stats
6.Footer
-------------------------*/

/*-------------------------
1. Header
-------------------------*/

#hero {
	color: #FFFFFF;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2989d8+0,207cca+0,207cca+1,1e5799+1,ac3ecf+1,ff00af+100 */
	background: #2989d8; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #2989d8 0%, #207cca 0%, #207cca 1%, #1e5799 1%, #ac3ecf 1%, #ff00af 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #2989d8 0%,#207cca 0%,#207cca 1%,#1e5799 1%,#ac3ecf 1%,#ff00af 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #2989d8 0%,#207cca 0%,#207cca 1%,#1e5799 1%,#ac3ecf 1%,#ff00af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#ff00af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#header-logo {

}
nav{
	color: #FFFFFF;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2989d8+0,207cca+0,207cca+1,1e5799+1,ac3ecf+1,ff00af+100 */
	background: #2989d8; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #2989d8 0%, #207cca 0%, #207cca 1%, #1e5799 1%, #ac3ecf 1%, #ff00af 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #2989d8 0%,#207cca 0%,#207cca 1%,#1e5799 1%,#ac3ecf 1%,#ff00af 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #2989d8 0%,#207cca 0%,#207cca 1%,#1e5799 1%,#ac3ecf 1%,#ff00af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#ff00af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: none;
	box-shadow: none;

}
#header-title{

}
#hero-subtitle{

}
a.brand-logo{
	font-size: 24px;
	font-weight: 500;
}
#value-proposition a{
	color: #B633BF;
}
#value-proposition .col{
	padding: 0px;
}

/*-------------------------
2. General
-------------------------*/

body{
    font-family: 'Poppins', sans-serif;
}
#call-to-scroll{

}
::selection{
	background: #ffee58;
	color: #ff00af;
}
h1{

}
h4{
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
	text-align: left;
	color: #ff00af;
	margin-bottom: 32px;
}
h5{

}
/*-------------------------
3. Cities
-------------------------*/
#cities{

}
#cities-title{

}

/*-------------------------
4. Table-of-contents
-------------------------*/
#table-of-contents{
	background: #FFF6FF;
}
table-of-contents-title{

}
table-of-contents-subtitle{
    
}
#table-of-contents-content{
	background: #FFF;
}

/*-------------------------
5. Stats
-------------------------*/
#stats{

}

/*-------------------------
6. Footer
-------------------------*/
#footer{

}