/*-------------------------
File name : style.css
Author: Bruna Lekich Louro

Index:
0.Reset
1. Header
2. General
3.Cities
4.Table-of-Contents
5.Stats
6.Footer
-------------------------*/

/*-------------------------
1. Header
-------------------------*/

#hero {
	color: #FFFFFF;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2989d8+0,207cca+0,207cca+1,1e5799+1,ac3ecf+1,ff00af+100 */
	background: #2989d8; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #2989d8 0%, #207cca 0%, #207cca 1%, #1e5799 1%, #ac3ecf 1%, #ff00af 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #2989d8 0%,#207cca 0%,#207cca 1%,#1e5799 1%,#ac3ecf 1%,#ff00af 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #2989d8 0%,#207cca 0%,#207cca 1%,#1e5799 1%,#ac3ecf 1%,#ff00af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#ff00af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#header-logo {

}
nav{
	color: #FFFFFF;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2989d8+0,207cca+0,207cca+1,1e5799+1,ac3ecf+1,ff00af+100 */
	background: #2989d8; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #2989d8 0%, #207cca 0%, #207cca 1%, #1e5799 1%, #ac3ecf 1%, #ff00af 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #2989d8 0%,#207cca 0%,#207cca 1%,#1e5799 1%,#ac3ecf 1%,#ff00af 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #2989d8 0%,#207cca 0%,#207cca 1%,#1e5799 1%,#ac3ecf 1%,#ff00af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#ff00af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: none;
	box-shadow: none;

}
#header-title h1 { 
	margin-bottom: -4px;

}
#hero-subtitle h5 {
	margin-bottom: 24px;
}
a.brand-logo{
	font-size: 24px;
	font-weight: 500;
}
#value-proposition {
	height: 750px;
}

#value-proposition a{
	color: #B633BF;
	font-weight: 600;
}
#value-proposition .col{
	padding: 0px;
}
#background-map{
	background-image: url(../img/mapa.svg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 75% -100px;
}
#call-to-scroll {
	color: #ff00af;
	font-size: 16px;
	font-weight: 600;
}
#call-to-scroll .cta {
	margin-bottom: -12px;
	margin-top: 24px;
}
#call-to-scroll i {
	font-size: 50px;
}

/*-------------------------
2. General
-------------------------*/

body{
    font-family: 'Poppins', sans-serif;
}
#call-to-scroll{

}
::selection{
	background: #ffee58;
	color: #ff00af;
}
h1{
	font-size: 48px;
	line-height: 120%;
	margin-top: 150px;
	font-weight: 600;
}
h4{
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
	text-align: left;
	color: #ff00af;
	margin-bottom: 32px;
}
h5{
	font-size: 16px;
	line-height: 150%;
	margin-bottom: 3px;
	font-weight: 400;
}
/*-------------------------
3. Cities
-------------------------*/
#cities{

}
#cities-title{

}
.card-action a {
	background: #fe03b0;
	color: #FFF;
	font-weight: 400;
	font-size: 16px;
}
.card-action a:hover {
	background: #9a259f;
	color: #FFF;
	font-weight: 400;
	font-size: 16px;
}

/*-------------------------
4. Table-of-contents
-------------------------*/
#table-of-contents{
	background: #FFF6FF;
}
table-of-contents-title{

}
table-of-contents-subtitle{
    
}
.table-of-contents-content{
	background: #FFF;
}

/*-------------------------
5. Stats
-------------------------*/
#stats{
	background-image: url(../img/stats.png);
	padding: 60px 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 100px;
	background-size: 100% auto;
}
.stats-content-title {
	font-weight: 600;
	font-size: 60px;
	line-height: 90px;
	text-align: center;
	color: #fe03b0;
	text-shadow: 0px 0px 20px #ffffff;
	padding-top: 32px;
}
.stats-content-subtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #60495f;
	padding-bottom: 32px;
}


/*-------------------------
6. Footer
-------------------------*/
#footer{

}