/*-------------------------
File name : style.css
Author: Bruna Lekich Louro

Index:
0.Reset
1. Header
2. General
3.Cities
4.Table-of-Contents
5.Stats
6.Footer
-------------------------*/

/*-------------------------
1. Header
-------------------------*/

header #hero{

}
#header-logo{

}
nav{

}
#header-title{

}
#hero-subtitle{

}
a.brand-logo{
	font-size: 24px;
	font-weight: 500;
}

/*-------------------------
2. General
-------------------------*/

body{
    font-family: 'Poppins', sans-serif;
}
#call-to-scroll{

}
/*-------------------------
3. Cities
-------------------------*/
#cities{

}
#cities-title{

}

/*-------------------------
4. Table-of-contents
-------------------------*/
#table-of-contents{

}
table-of-contents-title{

}
table-of-contents-subtitle{
    
}

/*-------------------------
5. Stats
-------------------------*/
#stats{

}

/*-------------------------
6. Footer
-------------------------*/
#footer{

}